<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pushwoosh.reactnativeplugin">

	<application>
		
		<meta-data
			android:name="com.pushwoosh.notification_service_extension"
			android:value="com.pushwoosh.reactnativeplugin.PushwooshNotificationServiceExtension" />
		
		<meta-data
			android:name="com.pushwoosh.internal.plugin_provider"
			android:value="com.pushwoosh.reactnativeplugin.internal.ReactNativePluginProvider" />
	
	</application>

</manifest>